In [40]:
#주유소 

N=int(input())
road=list(map(int,input().split()))
price=list(map(int,input().split()))

# 제한사항
if 2 <= N <= 100000:
    for r in road:
        if 1 <= r <= 1000000000:
            for p in price:
                if 1 <= p <= 1000000000:
                    pass
                else:
                    print('{} 가격의 범위가 초과되었습니다'.format(p))
        else:
            print('{} 길이의 범위가 초과되었습니다'.format(r))
else:
    print('도시의 범위가 초과되었습니다')

r=road
p=price
oil_p=1000000001
answer=0
for n in range(0,N-1):
    if oil_p >= p[n]:
        oil_p = p[n]
    answer += r[n]*oil_p
print(answer)

    
#문제 출처 https://www.acmicpc.net/problem/13305

4
3 3 4
1 1 1 1
10

In [ ]:
#입양 시각 구하기(1)
#문제 출처 https://programmers.co.kr/learn/courses/30/lessons/59412

SELECT distinct hour(DATETIME) as hour,count(DATETIME) count from ANIMAL_OUTS where hour(DATETIME) between '9' and '19' group by hour  order by hour asc

In [ ]:
#입양 시각 구하기(2)
#문제 출처 https://programmers.co.kr/learn/courses/30/lessons/59413

#답
SET @hour := -1; -- 변수 선언
SELECT (@hour := @hour + 1) as HOUR,
(SELECT COUNT(*) FROM ANIMAL_OUTS WHERE HOUR(DATETIME) = @hour) as COUNT
FROM ANIMAL_OUTS
WHERE @hour < 23