In [12]:
# 이장님 초대

N=int(input())

if 1 <= N <= 100000:
    pass
else:
    print('N의 범위 초과')

t_list=list(map(int,input().split()))

if len(t_list) == N:
    pass
else:
    print('t_list의 길이가 N값과 다릅니다.')

for t_ in t_list:
    if 1 <= t_ <= 1000000:
        pass
    else:
        print('t의 범위 초과')

t_list.sort(reverse=True)

for t in range(len(t_list)):
    t_list[t]+=t+2 # 구입한날 심은 1일 + 다 자란 다음날 1일 = 2

answer=max(t_list)

print(answer)



#문제 출처 https://www.acmicpc.net/problem/9237

4
2 3 4 3
7

In [ ]:
#오랜 기간 보호한 동물(1)
#https://programmers.co.kr/learn/courses/30/lessons/59044

SELECT i.NAME, i.DATETIME from ANIMAL_INS i left join ANIMAL_OUTS o on i.ANIMAL_ID = o.ANIMAL_ID where o.DATETIME is null order by i.DATETIME limit 3

In [ ]:
#보호소에서 중성화한 동물
#https://programmers.co.kr/learn/courses/30/lessons/59045

SELECT o.ANIMAL_ID,o.ANIMAL_TYPE,o.NAME from ANIMAL_INS i left join ANIMAL_OUTS o on i.ANIMAL_ID = o.ANIMAL_ID where SEX_UPON_INTAKE like 'Intact%' and SEX_UPON_OUTCOME not like 'Intact%' order by ANIMAL_ID