In [17]:
#문제를 잘못 인식
from itertools import permutations

def solution(numbers):
    answer = ''
    temp=[]
    numbers_str=list(map(str,numbers))
    per=permutations(numbers_str,len(numbers))
    for i in per:
        temp_join=''.join(i)
        temp.append(temp_join)
    answer=max(temp)
    return answer

# solution([6,10,2])
solution([3, 30, 34, 5, 9])

'6210'

In [50]:
def solution(numbers):
    if 1 <= len(numbers) <= 100000:
        for i in numbers:
            if 0 <= i <= 1000:
                pass
            else:
                return '원소의 범위 초과'
    else:
        return '길이의 범위 초과'

    answer = ''
    #문자형으로 나타내기위해
    number=map(str,numbers)
    # lambda를 이용하여 x[0]값이 같은 값의 x에 곱을 하여 순서를 비교하여 정렬
    number_sort=sorted(number,key=lambda x:x*len(numbers),reverse=True)
    # int를 해줌으로써 '000'같은 값을 0으로 만들어 주기 위함이라고 함 
    # 참고하였음
    answer=int(''.join(number_sort))
    #문자열로 return
    return str(answer)

# solution([6,10,2])
solution([3, 30, 34, 5, 9])

'9534330'

In [ ]:
# Weather Observation Station 10
# https://www.hackerrank.com/challenges/weather-observation-station-10/problem?isFullScreen=true

# mysql
select distinct city from station where city regexp '[^aeiou]$';

In [ ]:
# Higher Than 75 Marks
# https://www.hackerrank.com/challenges/more-than-75-marks/problem?isFullScreen=true

# mysql
select name from students where marks > 75 order by right(name,3),id