In [18]:
#더 맵게

def solution(scoville,K):
    scoville_sum=0
    answer=0
    cnt=0
    end=0 #반복문 끝내기용

    # 제한사항
    if 2 <= len(scoville) <= 1000000:
        if 0 <= K <= 1000000000:
            for scov in scoville:
                if 0 <= scov <= 1000000:
                    pass
                else:
                    return 'scoville 원소의 범위 초과'
        else:
            return 'K의 범위 초과'
    else:
        return 'scoville의 길이 초과'

    #문제
    while end < len(scoville):
        end=0
        scoville.sort()
        scoville_sum=scoville[0]+(scoville[1]*2)
        scoville.pop(0)
        scoville.pop(0)
        scoville.insert(0,scoville_sum)
        cnt+=1
        for i in scoville:
            if i >= 7:
                end+=1
            else:
                pass

    answer=cnt
    return answer

solution([1, 2, 3, 9, 10, 12],7)

#문제 출처 https://programmers.co.kr/learn/courses/30/lessons/42626

2

In [ ]:
#동물 수 구하기
#문제 출처 https://programmers.co.kr/learn/courses/30/lessons/59406

SELECT COUNT(*) FROM ANIMAL_INS

In [ ]:
#중복 제거하기
#문제 출처 https://programmers.co.kr/learn/courses/30/lessons/59408

SELECT COUNT(DISTINCT NAME) FROM ANIMAL_INS WHERE NAME IS NOT NULL;