In [6]:
# 거꾸로 구구단
# https://www.acmicpc.net/problem/13410

N,K=map(int,input().split())

if 1 <= N <= 1000: 
    if 1 <= K <= 1000:
        pass
    else:
        print('K의 범위 초과')
else:
    print('N의 범위 초과')


temp=[]
for i in range(1,K+1):
    temp.append(int(str(N*i)[::-1])) #문자열로 변경후 슬라이싱으로 위치를 바꾼뒤 정수형으로 변경

print(max(temp))

8 9
84

In [ ]:
# Weather Observation Station 14
# https://www.hackerrank.com/challenges/weather-observation-station-14/problem?isFullScreen=true

select round(max(LAT_N),4) from station where LAT_N <= 137.2345;

In [ ]:
# Average Population of Each Continent
# https://www.hackerrank.com/challenges/average-population-of-each-continent/problem?isFullScreen=true

select country.continent , floor(avg(city.population)) from city join country on city.countrycode = country.code group by country.continent;