In [42]:
#1로 만들기 2 

N=int(input())

#제한사항
if 1 <= N <= 10**6:
    pass
else:
    print('N의 범위가 초과되었습니다.')

N_measure=[] # N의 약수를 넣기 위해
answer=[str(N)] #처음값 문자열로 리스트에 추가
cnt=0 #회수를 나타내기위해

#문제
while N > 1:
    #약수 리스트화
    N_measure.clear() # 바뀐 N값으로 초기화하기위해
    for n in range(1,N+1):
        if N % n == 0:
            if n != 1:
                N_measure.append(n)

    N_measure.sort(reverse=True)
    if 1 not in [0 if n_ % 3 == 0 else 1 for n_ in N_measure]:
        N /= 3
    elif 1 not in [0 if n_ % 2 == 0 else 1 for n_ in N_measure]:
        N /= 2
    else:
        N -= 1

    N=int(N) # 정수로 만들기
    answer.append(str(N)) #문자열로 추가하기
    cnt+=1
    
print(cnt)
print(' '.join(answer)) #출력 사이를 공백으로 나타내기


#문제 출처 https://www.acmicpc.net/problem/12852

10
3
10 9 3 1

In [ ]:
#NULL 처리하기
# https://programmers.co.kr/learn/courses/30/lessons/59410

SELECT ANIMAL_TYPE, ifnull(NAME,'No name') as name, SEX_UPON_INTAKE from ANIMAL_INS order by ANIMAL_ID asc

In [ ]:
# 루시와 엘라 찾기
# https://programmers.co.kr/learn/courses/30/lessons/59046

SELECT ANIMAL_ID, NAME, SEX_UPON_INTAKE from ANIMAL_INS where name in ('lucy','Ella','Pickle','Rogan','Sabrina','Mitty')